<!-- 假设你的Django路由是/streaming/ -->
<video id="player" controls width="100%" height="100%">
  <source src="/streaming/" type="application/x-mpegURL">
</video>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
if (Hls.isSupported()) {
    var video = document.getElementById('player');
    var hls = new Hls();
    hls.loadSource('/streaming');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED, function () {
      video.play();
    });
}

const videoPlayer = document.getElementById('player');

// 监听播放/暂停事件
videoPlayer.addEventListener('play', function() {
  sendStatusToBackend('play');
});

videoPlayer.addEventListener('pause', function() {
  sendStatusToBackend('pause');
});

// 监听时间更新事件（进度条变化）
videoPlayer.addEventListener('timeupdate', function() {
  const currentTime = this.currentTime;
  const duration = this.duration;
  
  // 只在重要时间点或者按照一定频率（例如每秒或更少）发送进度信息
  setInterval(() => {
      sendProgressToBackend(currentTime, duration);
  }, 1000)
  
});

function sendStatusToBackend(status) {
  // 发送POST请求到后端更新状态
  fetch('/status', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ status: status })
  });
}

function sendProgressToBackend(currentTime, duration) {
  // 发送POST请求包含当前时间和总时长
  fetch('/progress', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ currentTime: currentTime, duration: duration})
  });
}
</script>