{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>房间列表</title>
    <!-- 引入CSS样式 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-nav.css' %}">
    <!-- 引入自定义字体（如果有的话） -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <!-- 引入导航栏样式 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?f0675b1f1fa7a10eb9488d91b05d69c6";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<ul>
    {% block header %}
        {% include "header.html" %}
    {% endblock %}
    {% for room in rooms %}
        <div style="display: flex; padding: 10px">
            <a href="/streaming/{{ room.token }}" style="text-decoration: none; color: #000000">
                <img src="{{ room.image }}" alt="{{ room.title }}" width="200" height="200">
                <li>{{ room.title }}（在线人数：{{ room.count }}）</li>
                房间号：{{ room.token }}
            </a>
        </div>
        {% empty %}
                <p class="no-results">很抱歉，暂无已开的房间</p>
    {% endfor %}
</ul>
</body>
</html>