{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>协同一起看片</title>
    <!-- 引入CSS样式 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-nav.css' %}">
    <!-- 引入自定义字体（如果有的话） -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <!-- 引入导航栏样式 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?f0675b1f1fa7a10eb9488d91b05d69c6";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
    {% block header %}
        {% include "header.html" %}
    {% endblock %}
    <main class="search-container">
        <div class="search-header">
            <h2>寻找您喜爱的电影...</h2>
        </div>
        <form class="search-form" action="movie" method="GET">
            <input type="text" name="query" placeholder="请输入电影名称、导演或演员..." class="search-input" required>
            <button type="submit" class="search-btn">搜索</button>
        </form>
    </main>
    <!-- 最近观看记录 -->
    {% block log %}
        {% include "log.html" %}
    {% endblock %}

    <!-- 引入JavaScript文件，用于处理搜索功能等交互逻辑 -->
</body>
</html>